* {
    margin: 0;
    padding: 0;
  }

  #left {
    float: left;
    width: 50%;
  }
  h2{
    /* margin-top: 20px; */
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: black;
  }
  
  #right {
    float: right;
    width: 50%;
  }
  
  .registration-form {
    position: absolute; /* Position the form relative to the .wrapper */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the form perfectly */
    height: 80%;
    width: 70%; /* Width of the form */
    padding: 20px; /* Add padding as needed */
    border-radius: 5px; /* Add rounded corners */
    /* Add a subtle box shadow */
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-row {
    display: flex;
    align-items: center; /* Vertically align items in the row */
    padding-bottom: 20px;
  }
  
  label {
    width: 100px; /* Adjust the label width as needed for alignment */
    margin-right: 10px; /* Add some spacing between label and input */
    text-align: right; /* Right-align the label text */
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  
  textarea {
    height: 10px;
    width: 40%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  #dropdown{
    height: 100px;
  }
  /* File input styles (if needed) */
  select{
    height: 30px;
    width: 30%;
    
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  .error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
  }
  
  button[type="submit"] {
    align-items: right;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  .btn {
    display: flex;
    justify-content: center;
    /* margin-top: 20px; Adjust this margin as needed */
  }
  /* employee-update.component.css */

/* Define a class for the "Show Employee List" button */
.show-employee-list-button {
  background-color: #007bff; /* Blue background color */
  color: #fff; /* White text color */
  border: none; /* No border */
  padding: 10px 20px; /* Padding for the button */
  cursor: pointer; /* Change cursor to pointer on hover */
  border-radius: 5px;
}

/* Add a hover effect */
.show-employee-list-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

  * {
    margin: 0;
    padding: 0;
  }
  